#mydiv{
    position: absolute;
    z-index: 19;
    text-align: center;
  }
  
  #mydivheader{
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
    cursor: move;
    z-index: 20;
    background-color: #343A40;
    color: #fff;
  }