@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');

.nav_title{
    font-family: 'Lobster Two', cursive;
    font-size: 35px;
}

.logo{
    width: 50px;
    height: 50px;
}

.menu_card{
    background-color: white;
    width: 300px;
    float: left;
    height: 230px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(199, 198, 198);
}

.card_title{
    font-size: 16px;
    font-weight: bold;
    color: grey;
}

.input{
    text-align: center;
    width: 280px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.margin-container{
    margin-top: 15vh;
}

@keyframes ariseMenu{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes ariseNode {
    from{
        
        font-size: 0px;
        width: 0px;
        height: 0px;
    }
    to{
        
        font-size: 15px;
        width: 50px;
        height: 50px;
    }
}

@keyframes ariseNodeline_left{
    from{
        border-top: 0px solid grey;
        border-left: 0px solid grey;
        width: 0px;
        height: 0px;
    }
    to{
        border-top: 3px solid grey;
        border-left: 3px solid grey;
        width: 75px;
        height: 50px;
    }
}

@keyframes ariseNodeline_right{
    from{
        border-top: 0px solid grey;
        border-right: 0px solid grey;
        width: 0px;
        height: 0px;
    }
    to{
        border-top: 3px solid grey;
        border-right: 3px solid grey;
        width: 75px;
        height: 50px;
    }
}

.node{
    z-index: 10px;
    position: absolute;
    padding-top: 15px;
    font-size: 15px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    background-color: rgb(31, 189, 31);
    transition-duration: 1s;
    animation-name: ariseNode;
    animation-duration: 1s;
}

.node:hover{
    background-color: rgba(4, 243, 132, 0.897);
    box-shadow: 2px 2px 10px rgb(150, 148, 148);
}

.nodeFind{
    z-index: 10px;
    position: absolute;
    padding-top: 15px;
    font-size: 15px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    background-color: tomato;
    transition-duration: 1s;
    animation-name: ariseNode;
    animation-duration: 1s;
}

.nodeFind:hover{
    background-color:rgb(255, 0, 13);
    box-shadow: 2px 2px 10px rgb(150, 148, 148);
}

.nodeFindWay{
    z-index: 10px;
    position: absolute;
    padding-top: 15px;
    font-size: 15px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    background-color: rgb(106, 187, 235);
    transition-duration: 1s;
    animation-name: ariseNode;
    animation-duration: 1s;
}

.nodeFindWay:hover{
    background-color: rgba(4, 243, 132, 0.897);
    box-shadow: 2px 2px 10px rgb(150, 148, 148);
}

.nodeline_left{
    border-radius: 10px 0px 0px 0px;
    border-left: 3px solid grey;
    border-top: 3px solid grey;
    position: absolute;
    width: 75px;
    height: 50px;
    animation-name: ariseNodeline_left;
    animation-duration: 1s; 
}

.nodeline_right{
    border-radius: 0px 10px 0px 0px;
    border-right: 3px solid grey;
    border-top: 3px solid grey;
    position: absolute;
    width: 75px;
    height: 50px;
    animation-name: ariseNodeline_right;
    animation-duration: 1s;
}

button{
    margin: 5px 5px;
    outline: none !important;
}

input{
    text-align: center;
    outline: none !important;
    font-size: 12px;
    font-weight: lighter;
}

.level {
    position: absolute;
    text-align: right;
    font-size: 10px;
    float: right;
    top: 2px;
    color: white;
    right: 2px;
}

.drop{
    position: fixed;
    z-index: 100px;
}

#menu{
    animation-name: ariseMenu;
    animation-duration: 0.5s;
}

#config{
    animation-name: ariseMenu;
    animation-duration: 0.5s;
}

#btn_config{
    position: absolute;
    top: 53px;
    right: 250px;
    background-color: transparent !important;
    border: none;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}