<!DOCTYPE html>

<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Árvore Binaria</title>

  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link href="stylesheets/draggable.css" rel='stylesheet'>

  <!-- Main.css -->
  <link href="stylesheets/main.css" rel='stylesheet'>
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand nav_title" href="#"> <img src='images/logo_1.png' width='60' height='60'>Tree-Code</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Algoritimos de Árvore</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="binaryTree.html">Árvore Binária<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">sobre</a>
        </li>
      </ul>
    </div>
  </nav>


  <div id='container' class="container">
    
    <!-- Float Menu -->
    <div id='mydiv' align=center class="menu_card">
      <div id="mydivheader"><img src='images/logo_2.png' width="35" height="35">Click aqui para arrastar </div>  
      <div id='menu'>
          <button type="button" onclick="showConfigElement()" id='btn_config'>&#x1F527;</button>
          <h4>Menu</h4>
          <small id="message"></small>
          <input class="form-control input" autofocus id="input" type="number"></input>
          <div align=center class="btn-group" role="group">
            <button type="button" id='btn_add' class="btn btn-sm btn-success" style="width: 127px;">Inserir &#x2705;</button>
            <!-- <button type="button" class="btn btn-sm btn-secondary">Ordenar &#x1F4CF;</button> -->
            <button type="button" id='btn_search' class="btn btn-sm btn-info" style="width: 127px;">Buscar &#x1F50E;</button>
          </div><br>
          <div align=center class="btn-group" role="group">
            <button type="button" id='btn_randomTree' class="btn btn-sm btn-warning">Gerar Árvore &#x1F332;</button>
            <button type="button" id='btn_removeTree' (click)="removeTree()" class="btn btn-sm btn-danger">Excluir Árvore &#x274C;</button>
          </div>
        </div>
        <div id='config' style="display: none;">
          <button type="button" onclick="showConfigElement()" id='btn_config'>&#x274C;</button>
          <h4>Configurações</h4>
          <label style="font-size:10px;">Quantidade máxima de nodes</label>
          <input id="maxQtd" value="10" style="width: 50px; height:30px;" type='number'><br>
          <label style="font-size:10px;">Valor maximo dos nodes</label>
          <input id='maxValue' value="100" style="width: 50px; height:30px; margin-left: 26px;" type='number'><br> 
          <label style="font-size:10px;">Mostrar nivel dos nodes</label>
          <input checked id='cbLevel' style="margin-left: 26px;" type='checkbox'><br> 
          <button id='btn_save_config' class="btn btn-sm btn-success">Salvar</button>
        </div>
    </div> 

    <div id="treeContainer"></div>      
   
  </div>

  <!-- Scripts ------------------------------------------------------------------------------------------------------------>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Draggable.js -->
  <script src="javascript/draggable.js"></script>
  <!-- Main.js -->
  <script src='javascript/main.js'></script>
</body>
</html>